/_Noreturn.h
/access.c
/alignof.h
/alloca.in.h
/arg-nonnull.h
/asnprintf.c
/asprintf.c
/assure.h
/asyncsafe-spin.c
/asyncsafe-spin.h
/at-func.c
/attribute.h
/basename-lgpl.c
/basename-lgpl.h
/basename.c
/binary-io.c
/binary-io.h
/bitrotate.c
/bitrotate.h
/btowc.c
/c++defs.h
/c-ctype.c
/c-ctype.h
/c-stack.c
/c-stack.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/calloc.c
/canonicalize-lgpl.c
/canonicalize.c
/canonicalize.h
/cdefs.h
/chdir-long.c
/chdir-long.h
/clean-temp-private.h
/clean-temp-simple.c
/clean-temp-simple.h
/clean-temp.c
/clean-temp.h
/cloexec.c
/cloexec.h
/close-stream.c
/close-stream.h
/close.c
/closedir.c
/closein.c
/closein.h
/closeout.c
/closeout.h
/concat-filename.c
/concat-filename.h
/dirent-private.h
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.c
/dirname.h
/dup-safer-flag.c
/dup-safer.c
/dup.c
/dup2.c
/dynarray.h
/eloop-threshold.h
/errno.in.h
/error.c
/error.h
/execute.c
/execute.h
/exitfail.c
/exitfail.h
/fatal-signal.c
/fatal-signal.h
/fchdir.c
/fclose.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer-flag.c
/fd-safer.c
/fdopendir.c
/fflush.c
/file-set.c
/file-set.h
/filename.h
/filenamecat-lgpl.c
/filenamecat.c
/filenamecat.h
/findprog-in.c
/findprog.h
/flexmember.h
/float+.h
/float.c
/float.in.h
/fopen-safer.c
/fopen.c
/fpending.c
/fpending.h
/fpucw.h
/fpurge.c
/freadahead.c
/freadahead.h
/freading.c
/freading.h
/free.c
/frexp.c
/frexpl.c
/fseek.c
/fseeko.c
/fstat.c
/fstatat.c
/ftell.c
/ftello.c
/getcwd-lgpl.c
/getcwd.c
/getdtablesize.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getpagesize.c
/getprogname.c
/getprogname.h
/getrandom.c
/gettext.h
/gl_anyhash1.h
/gl_anyhash2.h
/gl_anyhash_primes.h
/gl_anylinked_list1.h
/gl_anylinked_list2.h
/gl_anytree_oset.h
/gl_avltree_ordered.h
/gl_avltree_oset.c
/gl_avltree_oset.h
/gl_linked_list.c
/gl_linked_list.h
/gl_linkedhash_list.c
/gl_linkedhash_list.h
/gl_list.c
/gl_list.h
/gl_oset.c
/gl_oset.h
/gl_xlist.c
/gl_xlist.h
/gl_xoset.c
/gl_xoset.h
/gnulib.mk
/hard-locale.c
/hard-locale.h
/hash-pjw.c
/hash-pjw.h
/hash-triple-simple.c
/hash-triple.h
/hash.c
/hash.h
/ialloc.c
/ialloc.h
/iconv.c
/iconv.in.h
/iconv_close.c
/iconv_open-aix.gperf
/iconv_open-hpux.gperf
/iconv_open-irix.gperf
/iconv_open-osf.gperf
/iconv_open-solaris.gperf
/iconv_open-zos.gperf
/iconv_open.c
/idx.h
/ignore-value.h
/intprops.h
/inttypes.in.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/iswblank.c
/iswdigit.c
/iswxdigit.c
/itold.c
/langinfo.in.h
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/libc-config.h
/limits.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/localename-table.c
/localename-table.h
/localename.c
/localename.h
/lseek.c
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/math.c
/math.in.h
/mbchar.c
/mbchar.h
/mbiter.c
/mbiter.h
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbrtowc.c
/mbsinit.c
/mbslen.c
/mbsstr.c
/mbtowc-impl.h
/mbtowc-lock.c
/mbtowc-lock.h
/mbtowc.c
/mbuiter.c
/mbuiter.h
/memchr.c
/memchr.valgrind
/memchr2.c
/memchr2.h
/memchr2.valgrind
/mempcpy.c
/memrchr.c
/minmax.h
/mkdir.c
/mkdtemp.c
/mkstemp-safer.c
/mkstemp.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo-lock.c
/nl_langinfo.c
/obstack.c
/obstack.h
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir.c
/os2-spawn.c
/os2-spawn.h
/pathmax.h
/pipe-safer.c
/pipe.c
/pipe2-safer.c
/pipe2.c
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/propername.c
/propername.h
/quote.h
/quotearg.c
/quotearg.h
/raise.c
/rawmemchr.c
/rawmemchr.valgrind
/readdir.c
/readlink.c
/realloc.c
/reallocarray.c
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rename.c
/rewinddir.c
/rmdir.c
/same-inode.h
/save-cwd.c
/save-cwd.h
/sched.in.h
/scratch_buffer.h
/secure_getenv.c
/setlocale-lock.c
/setlocale.c
/setlocale_null.c
/setlocale_null.h
/sig-handler.c
/sig-handler.h
/sigaction.c
/siglist.h
/signal.in.h
/signbitd.c
/signbitf.c
/signbitl.c
/sigprocmask.c
/sigsegv.c
/sigsegv.in.h
/size_max.h
/snprintf.c
/spawn-pipe.c
/spawn-pipe.h
/spawn.c
/spawn.in.h
/spawn_faction_addchdir.c
/spawn_faction_addclose.c
/spawn_faction_adddup2.c
/spawn_faction_addopen.c
/spawn_faction_destroy.c
/spawn_faction_init.c
/spawn_int.h
/spawnattr_destroy.c
/spawnattr_init.c
/spawnattr_setflags.c
/spawnattr_setpgroup.c
/spawnattr_setsigmask.c
/spawni.c
/spawnp.c
/stackvma.c
/stackvma.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdalign.in.h
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio--.h
/stdio-impl.h
/stdio-safer.h
/stdio-write.c
/stdio.in.h
/stdlib--.h
/stdlib-safer.h
/stdlib.in.h
/stpcpy.c
/str-kmp.h
/str-two-way.h
/strchrnul.c
/strchrnul.valgrind
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/striconv.c
/striconv.h
/string.in.h
/stripslash.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/strsignal.c
/strstr.c
/strtod.c
/sys_random.in.h
/sys_stat.in.h
/sys_types.in.h
/sys_wait.in.h
/tempname.c
/tempname.h
/thread-optim.h
/time.in.h
/tmpdir.c
/tmpdir.h
/trim.c
/trim.h
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/unistr.in.h
/unitypes.in.h
/uniwidth.in.h
/unlocked-io.h
/unused-parameter.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/verror.c
/verror.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/wait-process.c
/wait-process.h
/waitpid.c
/warn-on-use.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
/wctype.in.h
/wcwidth.c
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
/windows-spawn.c
/windows-spawn.h
/windows-spin.c
/windows-spin.h
/windows-tls.c
/windows-tls.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xmalloca.c
/xmalloca.h
/xprintf.c
/xprintf.h
/xsize.c
/xsize.h
/xstriconv.c
/xstriconv.h
/xvasprintf.c
/xvasprintf.h
